
.courseCard {
    background: #F8F5FF;
    max-width: 251.25px;
    min-height: 368px;
    padding: 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #D4C0FD;
}

.imageAndFlag {
    position: relative;
}

.card__image {
    width: 100%;
    width: 215px;
    height: 176px;
}

.course__flag {
    position: absolute;
    left: 8px;
    bottom: 8px;
    height: 26px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    border-radius: 24px;
    background: #F5F5F7;
}

.course__title {
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #3C3C44;
}

.course__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #3C3C44;
}

.progress-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress-container {
    width: 100%;
    background-color: #D4C0FD;
    border-radius: 25px;
    overflow: hidden;
    flex-grow: 1;
}

.progress-bar {
    height: 4px;
    width: 25%;
    background-color: #6F38DD;
    border-radius: 25px;
}

.progress-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #3C3C44;    
}


.continue__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6F38DD;
    height: 40px;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #F8F5FF;

    &:hover {
        background: #D4C0FD;
        border: none;
        color: #6F38DD;
    }
}