.menuSidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 52px;
}

.mentoringCard_date {
    width: 66px;
}

.mentoringCard_local {
    width: 278px;
}

.mentoringCard_subject {
    width: 146px;
}

.mentoringCard_mentor {
    width: 191px;
}


.menu__item {
    position: relative;
}

.menu__option {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
    gap: 8px;
    background: none;
    width: 299px;
    height: 46px;
    padding: 8px 11px;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #6F38DD;

    &:hover {
        background: #6F38DD26;
        border: none;
    }

    &:focus {
        outline: none;
    }
}

.menu__option.active {
    background-color: lightblue; 
    
}

.mentorias-options.active {
    display: block;
}

.mentorias-options {
    padding-top: 16px;
}

.mentoria__option::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background:#6F38DD;
}